:root {
  --primary-color: #333;
  --secondary-color: #f4f4f4;
  --green-racing-dark: #004d40;
  --border-color: rgba(255, 235, 119, 0.274);
  --border-radius: 0rem;
  --transition: 0.3s;
  --opacity: 0.6;
  --font: Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: var(--font);
  line-height: 1.6;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

button {
  cursor: pointer;
  background-color: var(--green-racing-dark);
  color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.4rem 1rem;
  transition: background-color var(--transition);
  text-transform: uppercase;
  font-size: xx-small;
}

.flyout {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 0.42rem;
  right: 0;
  position: absolute;
  z-index: 777;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: column;
  width: max-content;
}

.logo img {
  width: 7rem;
}

/* Graph component */
.force-graph-container canvas {
  display: block;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  margin-top: 1.4rem !important;
}