:root {
  --primary-color: #333;
  --secondary-color: #f4f4f4;
  --night: #01130B;
  --british-racing-green: #004225;
  --border-color: rgba(255, 235, 119, 0.274);
  --border-radius: 0rem;
  --transition: 0.3s;
  --opacity: 0.6;
  --font: system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: var(--font);
  line-height: 1.6;
  font-size: 1rem;
  background-color: var(--night);
  color: var(--secondary-color);
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

button {
  cursor: pointer;
  background-color: var(--british-racing-green);
  color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.4rem 1rem;
  transition: background-color var(--transition);
  text-transform: uppercase;
  font-size: xx-small;
  margin: 0.07rem;
}

button:hover {
  background-color: var(--border-color);
}

.flyout {
  /*background-color: var(--primary-color);*/
  color: var(--secondary-color);
  text-align: center;
  padding: 0.42rem;
  right: 0;
  position: absolute;
  z-index: 777;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: column;
  width: max-content;
}

nav p {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.logo img {
  width: 7rem;
}

/* Graph component */
#graph-container {
  height: 100%;
}

.force-graph-container canvas {
  display: block;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background: none !important
}

/* Settings panel */
#settingsPanel {
  z-index: 999;
  position: absolute;
  bottom: 0;
  width: min-content;
}

#settingsPanel h2 {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}