:root {
  --primary-color: #031404;
  --secondary-color: #f4f4f4;
  --british-racing-green: #004225;
  --border-color: rgba(255, 235, 119, 0.274);
  --border-radius: 0.42rem;
  --transition: 0.3s ease-in-out;
  --opacity: 0.6;
  --font: system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: var(--font);
  line-height: 1.6;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* Styling the scrollbar track */
::-webkit-scrollbar {
  width: 7px; 
  height: 7px; /* Needed for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  opacity: var(--opacity);
}

/* Styling the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  /* border: 1px solid var(--border-color); */
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  opacity: var(--opacity);
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

button {
  cursor: pointer;
  background-color: var(--british-racing-green);
  color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.4rem 1rem;
  transition: background-color var(--transition), transform var(--transition), color var(--transition);
  text-transform: uppercase;
  font-size: xx-small;
  margin: 0.14rem;
  outline: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

button:hover {
  background-color: var(--border-color);
}

button[type="submit"] {
  background-color: var(--british-racing-green);
  color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.4rem 1rem;
  transition: background-color var(--transition), transform var(--transition), color var(--transition);
  text-transform: uppercase;
  font-size: xx-small;
  margin: 0.14rem;
  outline: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: none;
}

.flyout {
  /*background-color: var(--primary-color);*/
  color: var(--secondary-color);
  text-align: center;
  padding: 0.42rem;
  right: 0;
  position: absolute;
  z-index: 777;
  max-height: 70vh;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: column;
  width: max-content;
}

nav p {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.logo img {
  width: 7rem;
}

/* Graph component */
#graph-container {
  height: 100%;
}

.force-graph-container canvas {
  display: block;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background: none !important
}

#spinnerContainer {
  position: absolute;
  bottom: 0;
  left: 1.4rem;
  transform: translate(-50%, -50%);
  mix-blend-mode: luminosity;
}

.spinner {
  border-top: 16px solid var(--british-racing-green);
  border-radius: 50%;
  width: 2.1rem;
  height: 2.1rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Settings panel */
#settingsPanel {
  z-index: 999;
  position: absolute;
  bottom: 0;
  width: max-content;
  text-align: center;
  right: 1.4rem;
  width: 98px;
  max-height: 30vh;
  overflow-y: scroll;
  /* do not ashow scrollbar */
  scrollbar-width: none;
}

#settingsPanel h2 {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

#settingsPanel button {
  font-size: 0.7rem;
}

#settingsPanel input {
  margin: 0;
  padding: 0.42rem;
  border-radius: var(--border-radius);
}

#settingsPanel label {
  font-size: 0.42rem;
  margin: 0;
  padding: 0;
}

/* Search */
#searchResults {
  z-index: 999;
  color: var(--secondary-color);
  padding: 0.42rem;
  overflow-y: scroll;
  max-height: 21vh;
  font-size: xx-small;
}

#searchResults a {
  color: var(--secondary-color);
  text-decoration: none;
}

#searchResults a:hover {
  color: var(--british-racing-green);
}

input[type="text"] {
  width: 100%;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.42rem;
  text-transform: uppercase;
  font-size: xx-small;
  text-align: end;
}

input[type="range"] {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 7px;
  background: var(--british-racing-green);
  opacity: var(--opacity);
  outline: none;
  transition: opacity .2s; /* Smooth transition */
}

/* Mouse-over effects */
input[type="range"]:hover {
  opacity: 1; /* Fully opaque on hover */
}

/* Styling the slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 0.7rem;
  height: 20px; 
  cursor: pointer;
  background: var(--primary-color);
}

input[type="range"]::-moz-range-thumb {
  width: 0.7rem;
  height: 20px;
  background: var(--primary-color);
  cursor: pointer;
}

#sliderValue {
  font-size: 0.7rem;
  display: inline-flex;
}

/* Full width background */
.fullWidthBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  mix-blend-mode: luminosity;
  pointer-events: none;
  opacity: 0.0014;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}

