<!DOCTYPE html>
<html>
<head>
    <!-- JavaScript -->
    <script src="//unpkg.com/force-graph"></script>
    <script src="//unpkg.com/d3-quadtree"></script>
    <script src="//unpkg.com/d3-force"></script>
    <script src="//unpkg.com/element-resize-detector/dist/element-resize-detector.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="static/style.css">
    <!-- Favicon -->
    <link rel="icon" href="static/fffg_logo.svg" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ app_name }}">
    <meta name="author" content="fedi follow force graph">
    <meta name="keywords" content="fediverse, mastodon, graph, force, d3, fedi follow force graph">
    <meta name="robots" content="index, follow">
    <title>{{ app_name }}</title>
</head>
<body>
    <!-- Full width background image  --> 
    <div class="fullWidthBackground">
        <img src="static/fffg_logo.svg" alt="fedi follow force graph log background" aria-hidden="true">
    </div>

    <!-- Flyout menu -->
    <div class="flyout">

        <div class="logo">
            <img src="static/fffg_logo.svg" alt="fedi follow force graph logo">
        </div>
  
        <nav>
            {% if logged_in %}
                <p>Welcome, {{ user.username }}!</p>
                <button onclick="window.location.href='/logout';">Logout</button>
            {% else %}
                <button onclick="window.location.href='/login';">Login with Mastodon</button>
            {% endif %}
            <!-- Buttons to show and hide nodes based on type-->
            <button onclick="filterNodes('follower');">Show Followers</button>
            <button onclick="filterNodes('following');">Show Followings</button>
            <button onclick="filterNodes('instance');">Show Instances</button>
            <button onclick="filterNodes('all');">Show All</button>

            <!-- Search component ToDo: Create component -->
            <form id="searchForUser">
                <input type="text" 
                    id="searchUser" 
                    placeholder="Search for a user" 
                    aria-label="Search for a user"
                    onkeyup="handleKeyUp(event)"
                >
                <button type="submit">Search</button>
            </form>
            <div id="searchResults"></div>

        </nav>

    </div>


    {{ graph | safe }}

    <div class="footer">

    </div>
    {% if logged_in %}
        <script>
            
            let timeout = null;
            const delay = 1000; // Delay in milliseconds
            const baseUrl = '{{ app_url}}';

            document.getElementById('searchForUser').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission
                performSearch(); // Perform search directly without waiting
            });

            function handleKeyUp(event) {
                clearTimeout(timeout); // Clear the existing timeout

                if (event.key === "Enter") {
                    event.preventDefault(); // Prevent form submission via Enter key
                    performSearch(); // Immediately perform the search
                } else {
                    timeout = setTimeout(() => {
                        performSearch(); // Perform the search after a delay when user stops typing
                    }, delay);
                }
            }

            function performSearch() {
                const query = document.getElementById('searchUser').value;
                const userInstance = '{{ user.url }}';

                // Check if the query is empty
                if (!query) {
                    return;
                }

                // Get the spinner element
                const spinner = document.getElementById('spinnerContainer');

                // Show the spinner before starting the fetch operation
                spinner.style.display = 'block';

                fetch(`${baseUrl}/search?query=${encodeURIComponent(query)}&instance=${encodeURIComponent(userInstance)}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to fetch data from the server');
                        }

                        return response.json();
                    })
                    .then(data => {
                        displayResults(data);
                        console.log(data);
                    })
                    .catch(error => console.error('Error:', error))
                    .finally(() => {
                        // Hide the spinner in case of an error
                        spinner.style.display = 'none';
                    });
            }

            function displayResults(results) {
                const container = document.getElementById('searchResults');
                container.innerHTML = ''; 

                results.forEach(result => {
                    const link = document.createElement('a');
                    link.href = "#"; 
                    link.textContent = result.username;
                    link.classList.add('user-link'); 
                    
                    // Event listener for clicking on each user link
                    link.addEventListener('click', function(event) {
                        event.preventDefault(); 
                        // Call your function to fetch all items, generate the graph, and init it
                        loadGraph(result.id); 
                    });

                    // Append the link to a div container (for styling or additional structure)
                    const div = document.createElement('div');
                    div.appendChild(link);
                    container.appendChild(div);
                });
            }

            // Function to fetch all items (followers or followings) for a user
            async function loadGraph(userId) {
                // Fetch followers and followings
                const followers = await fetchAllItems(userId, 'followers', apiBaseUrl); 
                const followings = await fetchAllItems(userId, 'following', apiBaseUrl);
                // Generate graph data
                graphData = generateGraphData(userId, userName, userAvatar, followers, followings);
                // Calculate the number of connections for each node
                calculateNodeConnections(graphData.nodes, graphData.links);
                window.graph = initGraph(graphData);
            }
            
        </script>
    {% endif %}



    <!-- <script src="static/app.js"></script> -->



</body>
</html>


