<!DOCTYPE html>
<html>
<head>
    <!-- JavaScript -->
    <script src="//unpkg.com/force-graph"></script>
    <script src="//unpkg.com/d3-quadtree"></script>
    <script src="//unpkg.com/d3-force"></script>
    <script src="//unpkg.com/element-resize-detector/dist/element-resize-detector.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="static/style.css">
    <!-- Favicon -->
    <link rel="icon" href="static/fffg_logo.svg" type="image/x-icon">
    <title>{{ app_name }}</title>
</head>
<body>

    <div class="flyout">

        <div class="logo">
            <img src="static/fffg_logo.svg" alt="fedi follow force graph logo">
        </div>
  
        <nav>
            {% if logged_in %}
                <p>Welcome, {{ user.username }}!</p>
                <button onclick="window.location.href='/logout';">Logout</button>
            {% else %}
                <button onclick="window.location.href='/login';">Login with Mastodon</button>
            {% endif %}
            <!-- Buttons to show and hide nodes based on type-->
            <button onclick="filterNodes('follower');">Show Followers</button>
            <button onclick="filterNodes('following');">Show Followings</button>
            <button onclick="filterNodes('instance');">Show Instances</button>
            <button onclick="filterNodes('all');">Show All</button>
        </nav>

    </div>

    
    {{ graph | safe }}


    <div class="footer">

    </div>
    
    <!-- <script src="static/app.js"></script> -->

</body>
</html>


