<!DOCTYPE html>
<html>
<head>
    <script src="//unpkg.com/force-graph"></script>
    <script src="//unpkg.com/d3-quadtree"></script>
    <script src="//unpkg.com/d3-force"></script>
    <script src="//unpkg.com/element-resize-detector/dist/element-resize-detector.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <header>
        {% if logged_in %}
            <p>Welcome, {{ user.username }}!</p>
            <button onclick="window.location.href='/logout';">Logout</button>
        {% else %}
            <button onclick="window.location.href='/login';">Login with Mastodon</button>
        {% endif %}

        <!-- Buttons to show and hide nodes based on type-->
        <button onclick="filterNodes('follower');">Show Followers</button>
        <button onclick="filterNodes('following');">Show Followings</button>
        <button onclick="filterNodes('all');">Show All</button>
    </header>

    {{ graph | safe }}

</body>
</html>


